<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COOKIES!</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/cookie.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Total Cookies in the bag:
                <%= quantity %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg" href="/order">Ready to get your cookies?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/customer/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <header class="jumbotron my-4">
            <h1 class="display-3">Hi Cookie Lover!
            </h1>
            <p class="lead">Thanks for coming to COOKIE FACTORY. We love making cookies as much as you like to munch 'em. Grab any cookies you want and we will deliver it by mail!</p>
        </header>

        <div class="row text-center">
            <% cookies.forEach(cookie => { %>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <% if(cookie.id == 1) { %>
                            <img class="card-img-top" src="/public/src/1.jpg">
                            <% } else if (cookie.id == 2) { %>
                                <img class="card-img-top" src="/public/src/2.jpg">
                                <% } else if (cookie.id == 3) { %>
                                    <img class="card-img-top" src="/public/src/3.jpg">
                                    <% } else if (cookie.id == 4) { %>
                                        <img class="card-img-top" src="/public/src/4.jpg">
                                        <% } else if (cookie.id == 5) { %>
                                            <img class="card-img-top" src="/public/src/5.jpg">
                                            <% } else if (cookie.id == 7) { %>
                                                <img class="card-img-top" src="/public/src/6.jpg">
                                                <% } else if (cookie.id == 8) { %>
                                                    <img class="card-img-top" src="/public/src/7.jpg">
                                                    <% } %>

                                                        <div class="card-body">
                                                            <h4 class="card-title">
                                                                <%= cookie.name %>
                                                            </h4>
                                                            <p class="card-text">
                                                                <%= cookie.description %>
                                                            </p>
                                                        </div>
                                                        <div class="card-footer">
                                                            <a href="/order/add/<%=cookie.id%>" class="btn btn-primary">Grab One</a>
                                                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <script src="/public/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/jquery.min.js"></script>
</body>

</html>