<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COOKIES!</title>
</head>

<body>
    <h1>GRAB COOKIES FOR FREE!!</h1>
    <table>
        <tr>
            <th>Cookies</th>
            <th>Description</th>
        </tr>
        <% cookies.forEach(cookie => { %>
            <tr>
                <td>
                    <%= cookie.name %>
                </td>
                <td>
                    <%= cookie.description %>
                </td>
                <td>
                    <a href="/order/add/<%=cookie.id%>">
                        <input type="button" value="Grab One">
                    </a>
                </td>
            </tr>
            <% }) %>
    </table>

    <h3>Total Cookies in the bag:
        <b>
            <%= quantity %></b>
    </h3>
    <a href="/order"><button>Ready to check out?</button></a>
</body>

</html>